<google-map
  [center]="center"
  [zoom]="zoom"
  height="500px"
  width="100%">
  <map-marker
    *ngIf="markerPosition"
    [position]="markerPosition"
    [label]="'📍'"
    [title]="'1518 Pracharat 1 Road'"
    [icon]="{
      url: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
    }"
    (mapClick)="onMarkerClick()">
  </map-marker>
</google-map>

<!-- Popup card -->
<div
  *ngIf="showInfoWindow"
  class="absolute top-24 left-1/2 transform -translate-x-1/2 bg-white rounded-lg shadow-lg p-4 w-80 z-50 text-center"
>
  <h3 class="text-lg font-semibold mb-2">Address Details</h3>
  <p class="text-sm text-gray-600 mb-4">{{ markerAddress }}</p>
  <button
    (click)="closeInfoWindow()"
    class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none"
  >
    Close
  </button>
</div>
