<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white p-8 rounded-lg shadow-md max-w-md w-full">
    <!-- Logo -->
    <div class="flex justify-center">
      <img src="../../../assets/images/GoRotine-removebg-preview.png" alt="Your Logo" class="h-20">
    </div>

    <!-- Title -->
    <h2 class="mt-8 text-center text-2xl font-bold leading-9 text-gray-900">
      Register Your Device
    </h2>

    <!-- Form -->
    <form (ngSubmit)="registerDevice()">
      <!-- Address -->
      <div>
        <label for="address" class="block text-sm font-medium text-gray-700">Address</label>
        <textarea
          id="address"
          [(ngModel)]="deviceAddress"
          name="address"
          rows="3"
          class="mt-2 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
          placeholder="Device MAC or unique ID"
          required></textarea>
      </div>

      <!-- Register Button -->
      <div>
        <button
          type="submit"
          class="w-full bg-indigo-600 text-white py-2 rounded-md text-sm font-semibold hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
          Register Device
        </button>
      </div>
    </form>

    <!-- Display Token -->
    <div *ngIf="token" class="mt-6 p-4 bg-green-100 rounded-md text-green-800">
      <p><strong>New Token:</strong></p>
      <p>{{ token }}</p>
    </div>

    <!-- Navigate to Dashboard Button -->
    <div class="mt-4">
      <button
        class="w-full bg-gray-600 text-white py-2 rounded-md text-sm font-semibold hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2"
        routerLink="/dashboard">
        Go to Dashboard
      </button>
    </div>
  </div>
</div>
